{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ instance.title }} |  {{ block.super }}
{% endblock title%}

{% block content %}

<div class="col-lg-6 col-md-12 col-sm-12 mt-4">
<h4>Comment Thread</h4>
        <blockquote class="five-border-left p-2">
            <p class="mb-0">{{ comment.content }}</p>
            <footer class="blockquote-footer">from: {{ comment.user }} on: {{ comment.timestamp|timesince }} ago |
                {% if comment.children.count > 0 %}
                    {{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %}
                {% endif %}
                {% if request.user == comment.user %}
                    <a href="{% url 'comments:delete' comment.id %}">Delete</a>
                {% endif %}
            </footer>
            <div>
                {% for child_comment in comment.children %}
                <blockquote class="five-border-left p-2">
                    <p class="mb-0">{{ child_comment.content }}</p>
                    <footer class="blockquote-footer">from: {{ child_comment.user }} on: {{ child_comment.timestamp|timesince }} ago
                        {% if request.user == comment.user %}
                        <a href="{% url 'comments:delete' child_comment.id %}">Delete</a>
                        {% endif %}
                    </footer>
                </blockquote>
                {% endfor %}
                {% if user.is_authenticated %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    <button class="btn btn-outline-info" type="submit">Reply Comment</button>
                </form>
                {% else %}
                <p>You Must Login to Comments</p>
                {% endif %}
            </div>
        </blockquote>
    <hr>
</div>

{% endblock content%}
