{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ instance.title }} |  {{ block.super }}
{% endblock title%}

{% block content %}

<div class="col-lg-6 col-md-12 col-sm-12 mt-4">
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete: "{{ object.content }}"?</p>
        <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
        <a href="{% url 'comments:thread' object.pk %}" class="btn btn-sm btn-outline-primary">Cancel</a>
    </form>
</div>

{% endblock content %}
