{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ instance.title }} |  {{ block.super }}
{% endblock title%}

{% block content %}
<div class="col-lg-6 col-md-12 col-sm-12">
    <div class="mt-4 mb-4">
        {% if instance.image %}
        <img src="{{ instance.image.url }}" class="img-fluid" alt="">
        {% endif %}
        <h2>{{ instance.title }}</h2>
        {% if instance.draft %}
        <span class="text-danger"> Draft </span>
        {% endif %}
        {% if instance.publish > today %}
        <span class="text-danger"> Future Post </span>
        {% endif %}
        <p class="text-muted mb-3">Author:
            {% if instance.user %}
                {{ instance.user }}
            {% else %}
                Anonymous
            {% endif %}
        </p>
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <p><small>{{ instance.publish }}</small></p>
        <p><small>Read time: {% if instance.read_time <= 1 %} < 1 Minute {% else %} {{ instance.read_time }} Minutes {% endif %}</small></p>
    </div>

<!-- SHARE LINK -->

<!--    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">-->
<!--    Facebook-->
<!--    </a>-->

<!--    <a href="https://twitter.com/home?status={{ share_string|truncatechars:80 }}%20{{ request.build_absolute_uri }}">-->
<!--    Twitter-->
<!--    </a>-->

<!--    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string|truncatechars:80 }}&source={{ request.build_absolute_uri }}">-->
<!--    Linkedin-->
<!--    </a>-->
    <div class="post-detail-img">{{ instance.get_markdown }}</div>

<hr>
    <p class="lead">Comments</p>
    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <button class="btn btn-info" type="submit">Submit Comment</button>
    </form>
    {% else %}
    <p>You Must Login to Comment!</p>
    {% endif %}
    <hr>
    {% for comment in comments %}
        <blockquote class="five-border-left p-2">
            <p class="mb-0">{{ comment.content }}</p>
            <footer class="blockquote-footer">from: {{ comment.user }} on: {{ comment.timestamp|timesince }} ago |
                {% if comment.children.count > 0 %}
                    {{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %}
                {% endif %}
                <br>
                <a href="#" class="comment-reply-btn"> Reply </a>
                <a href="{% url 'comments:thread' comment.id %}"> Thread </a>
            </footer>
            <div class="comment-reply">
                    {% for child_comment in comment.children %}
                <blockquote class="five-border-left p-2">
                    <p class="mb-0">{{ child_comment.content }}</p>
                    <footer class="blockquote-footer">from: {{ child_comment.user }} on: {{ child_comment.timestamp|timesince }} ago</footer>
                </blockquote>
                {% endfor %}
                {% if user.is_authenticated %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    <button class="btn btn-outline-info" type="submit">Reply Comment</button>
                </form>
                {% else %}
                <p>You Must Login to Reply</p>
                {% endif %}
            </div>

        </blockquote>
    <hr>
    {% endfor %}
</div>

{% endblock content%}
