h1 {
    color: #777;
}

.centering {
    display: block;
    text-align: center;
}

.wmd-panel {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.five-border-left {
    border-left: 5px solid #dee2e6 !important;
}

.comment-reply {
    display: none;
}
